body {
  padding: 50px;
}

body h1 {
  text-align: center;
}

body .image-wrapper {
  width: 500px;
  text-align: center;
  margin: 0 auto;
}

body .image-wrapper img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 10px;
}

body .image-wrapper span {
  font-size: 16px;
  color: gray;
}

body .image-wrapper span a {
  color: teal !important;
  text-decoration: none;
}
